.cartItem__content{
    margin: 1rem 0;
}

.cartItem__item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.cartItem__item img{
    width: 100px;
}

.cartItem__btnRemove{
    padding: 1rem;
    margin: 0 2rem;
}