.cartItem__content{
    margin: 1rem 0;
}

.cartItem__item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    border-bottom: 2px solid var(--color-primary);
}
.cartItem__itemImg{
    width: 7rem;
    height: auto;
    margin-bottom: 1rem;
}
.cartItem__item img{
    overflow: hidden;
    display: flex;
    align-items: center;
}
.cartItem__text{
    display: flex;
    flex-direction: column;
}
.cartItem__title{
    font-family: var(--font-family-titles);
    margin: 1rem 0;
}
.cartItem__quantity{
    min-width: 30rem;
    display: flex;
    justify-content: space-between;
}
.cartItem__btn{
    padding: 0.5rem 1rem;
    background-color: var(--color-bg);
    color: var(--color-secondary);
    font-size: 1.5em;
}
.cartItem__quantityBtns span{
    margin: 0 1rem;
    font-weight: 600;
}
.cartItem__btnRemove{
    padding: 0.5rem 2rem;
    margin: 0 2rem;
}
.cartItem__btnRemove:hover{
    color: var(--color-secondary);
}
.cartItem__amountPrice{
    margin: 0.5rem 0 1rem 0;
}
.cartItem__price span{
    font-weight: 600;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .cartItem__item{
        gap: 1rem;
    }
    .cartItem__quantity{
        min-width: 25rem;
    }
    .cartItem__btn{
        padding: 0.4rem 0.8rem;
        font-size: 1.2em;
    }
}