.footer {
    width: 100%;
    background: transparent;
    /* background-color: var(--color-bg); */
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #DEDFE1
}

.footer__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__links-items {
    font-size: var(--font-size);
}

.footer__links-items a {
    text-decoration: none;
    color: var(--color-text);
    padding: 0 1.5rem;
    cursor: pointer;
}

.footer__links-items a:hover {
    text-decoration: underline;
}
.footer__copyright{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

