.slider {
    max-width: 2000px;
    margin: 0 auto;
}
.slider__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    justify-items: center;
}

.slider__imageBox {
    max-width: 30rem;
    overflow: hidden;
}
.slider__imageBox img{
    position: relative;
    width: 100%;
    height: auto;
    top: 1rem; 
    right: -2rem;
    margin: 0 auto;
    transform: scale(1.2);
    
}
.slider__separatorBox{
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--color-primary);
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}
.slider__textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 4rem;
    background-color: var(--color-primary);
}
.slider__description{
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 0;
    text-align: justify;
}
.slider__title{
    font-size: 2.8em;
    line-height: 3.75rem;
    margin-left: 0;
    padding: 1rem 0;
}
.slider__btn{
    padding: 1rem 4rem;
    margin: 1.5rem 0 1rem 0;
}
.slider__btn :hover{
    background-color: var(--color-bg);
    color: var(--color-black);
}
.features{
    max-width: 1200px;
    margin: 0 auto;
}
.features__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.features__item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.features__item img{
    margin: 0 1rem;
}
.features__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}