.storeItem__container {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 16px;
    padding: 0.1rem;
}
.storeItem__container:hover{
    box-shadow: 0px 2px 40px -20px rgb(176, 177, 185);
    transition: box-shadow 0.2s ease-in;
    cursor: pointer;
}

.storeItem__img {
    max-width: 280px;
    height: 20rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.storeItem__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.storeItem__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 0.8rem 0;
}

.storeItem__title,
.storeItem__price {
    font-size: var(--font-family);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    letter-spacing: 1px;
}

.storeItem__price {
    font-family: var(--font-family);
}

.storeItem__btn {
    padding: 1rem 2rem;
    margin: 0 auto;
}

.quantity {
    margin: 0 8px;
}

/* Dodaj stylizację dla prawego bloku karty, jeśli jest używany
.cart-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    background-color: #f8f9fa;
}

.cart-price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 8px;
}

/* Dodaj ikonę zamykania (przykładowa ikona) */
/* .cart-right .icon-x {
    color: #007bff;
    cursor: pointer;
}

.cart-right .icon-x:hover {
    color: #0056b3;
} */ 
