.subscribe {
    width: 1200px;
}

.subscribe__grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.subscribe__img {
    max-width: 22rem;
    height: auto;
    position: relative;
    right: 21rem;
}
.subscribe__img img {
    width: auto;
    height: 700px;
}

.subscribe__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    text-indent: 20px;
}

.subscribe__title {
    font-family: var(--font-family-titles);
    font-size: 1.8em;
    line-height: 3.75rem;
}

.subscribe__info {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.625rem;
}

.subscribe__buttonBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.subscribe__inputField {
    width: 100%;
    height: 3.75rem;
    padding: 0 1rem;
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
}
.subscribe__btnBg {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.subscribe__btnBg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(
        ellipse at 50% 0%,
        rgba(211, 212, 213, 1) 35%,
        rgba(245, 245, 245, 1) 70%
    );
    filter: blur(2px);
    z-index: -1;
}

.subscribe__btn {
    margin-top: 1.5rem;
    z-index: 1;
    max-width: 15rem;
    padding: 1rem 4rem;
    font-family: var(--font-family);
    letter-spacing: 1px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
