* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: var(--font-family-titles);
}

body, p, span {
  font-family: var(--font-family);
}

.section__margin {
  padding: 1rem 0;
}

.section__padding {
  padding: 1rem;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.App {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.button {
  position: relative;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}