* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: var(--font-family-titles);
}

body, p, span, h3 {
  font-family: var(--font-family);
}

.section__margin {
  padding: 2rem 0;
}

.section__padding {
  padding: 1rem;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.App{
  max-width: 2000px;
  margin: 0 auto;
}
.button {
  position: relative;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover {
  background-color: var(--color-bg);
  box-shadow: 0 0 0 1px var(--color-black);
  color: var(--color-black);
}